.btn-cart {
    float: right;
    padding: 12px 0 0;
    margin-left: 24px;
    border: none;
    font-size: 24px;
    line-height: 24px;
    background: none;
    color: $gray-dark;
    margin-top: 1px;
    cursor: pointer;

    @media(max-width: breakpoint-max(sm)) {
        position: absolute;
        padding-top: 0;
        right: 4px;
        top: -4px;
    }

    .icon {
        padding: 8px;
        font-size: 26px;
        color: $gray-dark;
        position: relative;
        text-align:center;

        @media(max-width: breakpoint-max(sm)) {
            display: block;
            margin-top: 0;
        }
    
        .badge {
            font-family: $font-family-sans-serif;
            font-size: 11px;
            display: block;
            position: absolute;
            top: 6px;
            right: 20px;
            width: 18px;
            height: 18px;
            line-height: 18px;
            border-radius: 50%;
            text-align: center;
            font-weight: $font-weight-bold;
            color: $white;
            background-color: $badge-accent;
            box-shadow: 0 0 0 2px #FFFFFF;

            @media(max-width: breakpoint-max(sm)) {
                top: 6px;
                right: 22px;
            }
        }
    }
}