@import '~bootstrap/scss/tooltip';

.item {
    font-weight: $font-weight-base;
    font-size: .875rem;
    padding-bottom: 5px;

    @extend %mobile-font-weidth-reset;

    &:not(:last-child) {
        margin-bottom: 6px;
    }
}

.icon {
    float: left;
    color: $gray-dark;
    font-size:22px;
    margin-right: 12px;
    margin-top:-6px;
    padding-bottom: 5px;
    
    &:active, &:focus {
        background-color: transparent;
        opacity: 1;
    }

    &.icon-fix {
        font-size: 16px;
        margin-top: 0;
    }
}

.date-delivery {
    font-weight: $font-weight-black;
}

.highlight {
    color: $brand-complementary;
    text-transform: uppercase;
    font-weight: $font-weight-bold; 
}

.international-wrap {
    padding-left: 16px;

    .int-title {
        font-size: 1rem;
        font-weight: $font-weight-bold; 
        margin-left: -16px;
        margin-bottom: 16px;
    }
}
