.register {
    display: block;
    margin: auto auto;
    float: none;
    margin-top: $margin-top-global;
    margin-bottom: 32px;
    @media (max-width: breakpoint-max(sm)) {
        padding-left: 0;
        padding-right: 0;
    }
}
