@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/buttons';

@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700&subset=vietnamese');

$secret-sale-title: "Old Standard TT", serif;

.section-container {
    display: block;
    padding-top: 72px;
    padding-bottom: 112px;
    height: 638px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-image: url("/images/secret-sale/secret-sale-hero.jpg");
    background-color: #FEFCFD;

    @media(max-width: breakpoint-max(md)) {
        height: 720px;
    }

    @media(max-width: breakpoint-max(sm)) {
        padding-right: $grid-gutter-width-base;
        padding-left: $grid-gutter-width-base;
        padding-bottom: 48px;
        padding-top: 48px;
        height: 90vh;
        background-image: url("/images/secret-sale/secret-sale-hero-mobile.jpg");
        background-position: center center;
    }
}

.section1 {

    &.section1-text {
        padding-right: 80px;

        @media(max-width: breakpoint-max(sm)) {
            order: 2;
            padding-right: 0;
        }

        .title {
            font-family: $secret-sale-title;
            color: $gray-darkest;
            font-size: 45px;
            padding-top: 24px;
            line-height: 1.2;

            @media(max-width: breakpoint-max(sm)) {
                font-size: 32px;
                line-height: 1.2;
                text-align: center;
                padding-top: 8px;
            }
        }
    }    
}

.under-line {
    position: relative;

    &:after {
        position: absolute;
        bottom: 8px;
        left: -2%;
        content: "";
        width: 104%;
        height: 8px;
        background-color: rgba(#7BE6FF, .8);

        @media(max-width: breakpoint-max(sm)) {
            bottom: 4px;
        }
    }
}

.sale-amount-wrap {
    position: relative;
    color: #DC2434;
    font-size: 1rem;
    margin-top: 24px;

    @media(max-width: breakpoint-max(sm)) {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 16px;
        text-align: center;
    }

    .sale-desc {
        position: relative;
    }
}

.sale-amount {
    font-size: 72px;
    font-weight: $font-weight-black;
    position: relative;
    line-height: 72px;
    display: inline-block;

    @media(max-width: breakpoint-max(sm)) {
        font-size: 48px;
        line-height: 48px;
        margin-left: -26px;
    }

    .percent {
        font-size: 40px;
        line-height: 40px;
        font-weight: $font-weight-bold;
        position: absolute;
        top: 6px;
        right: -38px;

        @media(max-width: breakpoint-max(sm)) {
            font-size: 24px;
            line-height: 24px;
            right: -26px;
        }
    }
}

.brands-section,
.product-list-section {
    & h2 {
        font-family: $secret-sale-title;
        text-align: center;
        color: $gray-darkest;
        text-transform: capitalize;
    }
}

.brands-section {
    background-color: #FAFAFA;
    padding-top: 72px;
    padding-bottom: 128px;

    @media(max-width: breakpoint-max(sm)) {
        padding-bottom: 80px;
    }

    & h2 {
        @media(max-width: breakpoint-max(sm)) {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}

.img-wrap {
    margin-top: 94px;

    @media(max-width: breakpoint-max(sm)) {
        margin-top: 56px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .img {
        width: 100%;
    }
}

.product-list-section {
    margin-top: 72px;

    & h2 {
        margin-bottom: 40px;
    }
}

.product-tile {
    margin-bottom: 48px;

    @media(max-width: breakpoint-max(sm)) {
        padding-left: 0;
        padding-right: 0;
    }
}

.product-img-wrap {
    position: relative;

    img {
        width: 100%;
    }
}

.product-title {
    font-family: $secret-sale-title;
    text-align: center;
    color: $gray-darkest;
    font-size: 22px;
    margin-top: 24px;
}

.prices-wrap {
    display: block;
    font-size: 1rem;
    text-align: center;

    .retail-price {
        color: $gray;
        text-decoration: line-through;
        margin-right: 8px;
    }

    .sale-price {
        color: $gray-darkest;
        font-weight: $font-weight-black;
    }

}

.and-more-products {
    font-size: 18px;
    color: $gray-dark;
    text-align: center;
    margin: 24px auto;
    @media(max-width: breakpoint-max(sm)) {
        margin-top: 8px;
    }
}

.sub-wrap {
    margin-top: 32px;
    padding-left: 0;

    .sub-title {
        font-weight: $font-weight-black;
        font-size: 18px;
        color: $gray-darkest;
        
        @media(max-width: breakpoint-max(sm)) {
            text-align: center;
        }
    }
}

.remove-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.subs-container {
    padding-top: 48px;
    height: 340px;
    margin-bottom: 114px;
    margin-top: 56px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("/images/secret-sale/secret-sale-subscribtion-bg.jpg");

    @media(max-width: breakpoint-max(sm)) {
        padding-right: 24px;
        padding-left: 24px;
        margin-bottom: 64px;
        height: 400px;
    }
    
    &.fade-out {
        height: 0;
        opacity: 0;
    }
}

.subs-title {
    font-size: 32px;
    color: $white;
    text-align: center;
    font-family: $secret-sale-title;
    line-height: 1.3;
    @media(max-width: breakpoint-max(sm)) {
        font-size: 24px;
        padding-right: 24px;
        padding-left: 24px;
    }
}

.subs-desc {
    color: $white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 32px;
    @media(max-width: breakpoint-max(sm)) {
        font-size: 14px;
    }
}

