@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/forms';

.forgotPwContainer {
    display: block;
    @media (min-width: breakpoint-min(md)) {
        padding: 32px 32px;
        border: solid 1px $border-color;
        border-radius: $border-radius;
    }
}

.form {
    .reset {
        text-align: center;
    }
}

.success {
  text-align: center;
}
