@import '~bootstrap/scss/buttons';

.checkout {
  opacity: 1;
  visibility: visible;

  .actions {
      margin: 20px auto 5px auto;

      .btn-primary {
          width: 60%;

          @media (max-width: breakpoint-max(sm)) {
              width: 100%;
          }
          .icon {
            margin-right: 8px;
          }
      }
  }

  &.hide {
      display: none;
      opacity: 0;
  }
}

.btn-float-checkout {
  display: none;
  opacity: 0;
  background-color: $white;
  z-index: 3;
  @include transition;

  @media (max-width: breakpoint-max(sm)) {
      display:  block;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      opacity: 1;
  }

  .actions {
      margin-bottom: 0;
      margin-top: 0;
      .btn.btn-primary {
          width: 100%;
          @extend %btn-mobile-reset;
          &:hover {
              background-color: $brand-primary;
              border-color: $brand-primary;
          }
          .icon {
              margin-right: 8px;
          }
      }
      .text-danger {
          height: 44px;
          padding-top: 8px;
      }
  }

  &.hide {
      display: none;
      opacity: 0;
  }
}

.btn-checkout {
  @extend %btn-mobile-reset;
}

.policy {
color: $gray-alt;
padding-top: 32px;
font-size: .75rem;

  a {
    color: darken($brand-primary, 10%);
  }
}
