@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/dropdown';

.nav-link {
  color: $gray-dark;

  @include hover-focus-active {
    color: $gray-dark;
  }
}

@media(max-width: breakpoint-max(sm)) {
  .nav-link {
    display: block;
    margin-top: 8px;
    padding: 15px 16px;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: capitalize;
    text-align: left;
  }

  .dropdown-section {
    border-bottom: solid 1px $gray-lightest;
  }

  .dropdown-toggle::after {
    float: right;
    margin-top: 4px;
    border-left: 0.3em solid;
    border-top: 0.3em solid transparent;
    border-right: none;
    border-bottom: 0.3em solid transparent;
  }

  .show .dropdown-toggle::after {
    margin-top: 6px;
    border-left: 0.3em solid transparent;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: none;
  }

  .dropdown-menu {
    float: none;
    position: relative;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;

    .dropdown-item {
      padding: 8px 16px;
    }

    .extra-desc {
      display: block;
      font-size: .75rem !important;
      color: $gray !important;
    }

    .dropdown-divider {
      margin: 5px 0;
    }
  }
}

:global(#landingpage-header) {
  @media (max-width: breakpoint-max(sm)) {
    .dropdown-section {
      border-bottom: none;
    }
  }

  .dropdown-menu {
    left: -80px;
  }

}