@import '~bootstrap/scss/bootstrap-grid';

.pageContainer {
    display: block;
    .navSection {
        @media(max-width: breakpoint-max(sm)) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.container {
    font-size: .875rem;
    padding-top: 32px;
    padding-left: 0;
    padding-right: 0;

    @media(min-width: breakpoint-min(sm)) {
        padding-top: 48px;
    }
}

.pageTitle {
    margin-bottom: 0;
    margin-bottom: 32px;
    @extend %h3;
}

.orders-section {
    margin-bottom: 32px;
}

.empty-desc {
    @extend %description;
    padding-top: 0;
}
