@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/custom-forms';
@import '../payment-method/payment-method';

.credit-card {
  .credit-card-form {
    display: none;
    margin-top: 15px;
    padding: 0 15px;
  }

  &.active {
    .credit-card-form {
      display: block;
    }
  }
}

.save-card {
  margin-top: 15px;
}
