@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/buttons';
.paddingTop {
    @media (max-width: breakpoint-max(sm)) {
        padding-top: 96px !important;
    }
}

.text-container {
    padding-left: 24px;
    .title {
        font-weight: $font-weight-bold;
        padding-bottom: 4px;
        padding-top: 16px;
    }
    .time-wrap {
        display: block;
        color: $gray;
    }
}

.padding-remove {
    @media (max-width: breakpoint-max(sm)) {
        padding-left: 0;
        padding-right: 0;
    }
}
.padding-top-container {
    padding-top: 48px;
}
.not-found {
    font-size: 40px;
    width: 100%;
    text-align: center;
    color: $blue;
}
