@import '~bootstrap/scss/bootstrap-grid';

.secret-sales-banner {
    width: 100%;
    margin-bottom: 24px;
    margin-top: 8px;
    
    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}

.secret-sales-banner-inner {
    background-image: url('/images/home-banner-secret-sale.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #F3F4F6;
    background-size: contain;
    // padding: 24px;
    padding-left: 48px;
    padding-top: 24px;
    cursor: pointer;
    height: 168px;
    @media (max-width: breakpoint-max(md)) {
        background-image: url('/images/home-banner-secret-sale-mobile.jpg');
        height: 152px;
        padding-left: 24px;
        padding-top: 16px;
    }

    h2.secret-sale-title {
        font-size: 36px;
        font-weight: $font-weight-black;
        color: $gray-darkest;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    h4.secret-sale-description {
        font-size: 20px;
        color: $gray-dark;
    }
    h4.secret-sale-link {
        color: $link-color;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-size: 14px;
    }
    @media (max-width: breakpoint-max(md)) {
        h2.secret-sale-title {
            font-size: 20px;
            margin-bottom: 8px;
        }

        h4.secret-sale-description {
            font-size: 16px;
            padding-left: 0;
            width: 130px;
        }

        h4.secret-sale-link {
            font-size: 16px;
        }
    }
}
