.heading {
    margin-top: 18px;
    font-weight: $font-weight-bold;
    font-size: 1.125rem;
}

.desc {
    font-weight: $font-weight-base;
    font-size: .875rem;
    color: $gray-dark;
    line-height: 1.7;
}
