@import '~bootstrap/scss/tooltip';
.promoProductWrap {
    position: relative;
}
.promoProductContent {
    font-size: 14px;
    padding: 6px 24px 6px 16px;
    margin-left: -16px;
    margin-bottom: 16px;
    border-radius: 3px;
    color: $gray-dark;
    background-color: #FCF5F1;
    
}

.promoSub {
    font-size: 12px;
    padding-top: 4px;
    color: $gray;
}

.btn-help {
    position: absolute;
    font-size: 20px;
    top: 2px;
    right: 8px;
    cursor: pointer;
    // color: $gray-dark;
    &:hover .tooltip {
        display: block;
        opacity: 1;
    }
}

.tooltip {
    font-size: .75rem;
    z-index: 99;
    left: -60px;
    top: 105%;
    display: none;

    @media (max-width: breakpoint-max(sm)){
        left: -110px;
    }

    .tooltip-inner {
        background-color: #FAFAFA;
        color: $gray-dark;
        border: solid 1px $gray-lighter;
        padding: 6px 6px;
        width: 140px;
        box-shadow: 0 5px 13px 0 rgba(33,33,33,0.2);
        border-radius: 1px;
        &:before {
            top: 1px;
            left: 50%;
            margin-left: -5px;
            content: "";
            border-width: 0 5px 5px !important;
            border-bottom-color: #D1D3D4 !important;
            @media (max-width: breakpoint-max(sm)){
                left: 122px !important;
            }
        }
    }
}

.tooltip.tooltip-bottom .tooltip-inner::before,
.tooltip.bs-tether-element-attached-top .tooltip-inner::before {
    border-bottom-color: $gray-lighter !important;
}
