@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/alert';

.sign-in {
    display: block;
    margin: auto auto;
    float: none;
    margin-top: $margin-top-global;
    margin-bottom: 32px;
    @media (max-width: breakpoint-max(sm)) {
        padding-left: 0;
        padding-right: 0;
    }
}

.signInContainer {
    display: block;
    @media (min-width: breakpoint-min(md)) {
        padding: 32px 32px;
        border: solid 1px $border-color;
        border-radius: $border-radius;
    }
}

.forgotPassword {
    text-align: right;
    display: block;
    padding-bottom: 16px;
}

.createAccount {
    text-align: center;
    padding-top: 16px;
    a {
        font-weight: $font-weight-bold;
    }
}
